<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gank.io</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>161947FA-07D7-46BC-AE79-EFF41BBA87EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCE01299-BCDC-442F-AA5F-13FC1A803AD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hujiawei</string>
	<key>description</key>
	<string>Gank searcher for gank.io (干货集中营的干货搜索器)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gank</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DCE01299-BCDC-442F-AA5F-13FC1A803AD3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>gk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>客官，请稍等......</string>
				<key>script</key>
				<string>python gank.py "{query}"</string>
				<key>subtext</key>
				<string>根据您的关键词，搜索10条最相关的干货！</string>
				<key>title</key>
				<string>干货搜索器</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>161947FA-07D7-46BC-AE79-EFF41BBA87EB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>161947FA-07D7-46BC-AE79-EFF41BBA87EB</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>DCE01299-BCDC-442F-AA5F-13FC1A803AD3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://gank.io</string>
</dict>
</plist>
